

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.table {
    border-radius: 20px;
    padding: 13px 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /*width: 100%;*/
}

.cell {
    width: 30px;
    height: 30px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-weight: bold;
    display: inline-flex;
    margin-right: 2px;
    margin-bottom: 2px;
    justify-content: center;
    align-items: center;
}



/*@media screen and (orientation: landscape){*/
/*    .table {*/
/*        display: none;*/
/*    }*/

/*    .cell {*/
/*        display: none;*/
/*    }*/


/*    */
/*}*/




